<div class="main">
    <div class="tit-div">
        <div class="title">
            <h1>Reserva ID: 123</h1> 
        </div>
        <div class="disp">
            <h1>Confirmada</h1>
        </div>
        
    </div>
    
   
    <div class="divider">
        <div class="card">
            <div class="usuario">
                <h1>Datos de usuario:</h1>
                <div class="usuario-info">
                    <h3>Nombre: Nicole</h3>
                    <h3>Apellidos: Góngora Rodriguez</h3>
                    <h3>CI: 11110692 L.P.</h3>
                    <h3>Ciudad: La Paz</h3>
                    <h3>Email: nikita27111@hotmail.com</h3>
                </div>
                <h1>Pago de reserva:</h1>
                <div class="usuario-pago">
                    <mat-toolbar>
                        <input />
                        <button
                        class="btn"
                          color="primary">
                          Subir imagen
                        </button>
                    </mat-toolbar>
                    <input
                      type="file"
                      id="fileInput"
                      name="fileInput"
                      accept="image/*" />         
                      <button
                      class="btn"
                        color="primary">
                        Enviar imagen
                      </button>  
                </div>
               
            </div>


            <div class="habitacion">
                <div class="hab-div">
                    <div>
                        <h1>Habitación 1B</h1>
                        <h3>Capacidad: 6 personas</h3>
                        <h3>Categoría: Monobloque</h3>
                        <div class="info-r1">
                            <h3>Piso: 3</h3>
                            <h3>Bloque: B</h3>
                        </div>
                    </div>
                    <img class="thumbnail-image" src="" onerror="this.src='assets/images/solidIm.png'"  alt="alternative" />
                </div>
                <hr>
                <div class="invitados">
                    <mat-accordion>
                        <mat-expansion-panel >
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <p>Invitados</p>
                            </mat-panel-title>
                            <mat-panel-description>
                              <p>4 personas</p>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <h3>Nicole Góngora: 19 años</h3>
                          <h3>Nicole Góngora: 19 años</h3>
                          <h3>Nicole Góngora: 19 años</h3>
                          <h3>Nicole Góngora: 19 años</h3>
                        </mat-expansion-panel>
                      </mat-accordion>
                </div>
                <div class="checks">
                    <h3>Check-In: 12/12/2022 13:00</h3>
                    <h3>Check-Out: 23/12/2022 15:00</h3>
                    <h3>Servicio de Limpieza: Si</h3>
                </div>
            </div>

        </div>
    </div>

</div>
